Source: prometheus-chrony-exporter
Section: golang
Priority: optional
Maintainer: Canonical IS DevOps team <is-devops-team@canonical.org>
Uploaders: Weii Wang <weii.wang@canonical.org>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-apparmor,
               dh-sequence-golang,
               golang-any,
               golang-github-go-kit-log-dev,
               golang-github-prometheus-common-dev,
               golang-github-prometheus-exporter-toolkit-dev,
               golang-github-sirupsen-logrus-dev,
               golang-github-stretchr-testify-dev,
               golang-gopkg-alecthomas-kingpin.v2-dev,
               golang-prometheus-client-dev
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/canonical/chrony_exporter
Vcs-Git: https://github.com/canonical/chrony_exporter.git
Homepage: https://github.com/superq/chrony_exporter
XS-Go-Import-Path: github.com/superq/chrony_exporter

Package: prometheus-chrony-exporter
Section: net
Architecture: any
Depends: chrony,
         ${misc:Depends},
         ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: Exporter for Chrony NTP (program)
 Prometheus Chrony Exporter
 This is a Prometheus Exporter (https://prometheus.io) for Chrony NTP
